<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes Prediction</title>
    </head>
    <body>
        <h1>Diabetes Prediction</h1>
        <form method="post">
            <label for="PatientID">Patient ID:</label><br>
            <input type="text" id="PatientID" name="PatientID"><br><br>
            <label for="Pregnancies">Pregnancies:</label><br>
            <input type="text" id="Pregnancies" name="Pregnancies"><br><br>
            <label for="PlasmaGlucose">Plasma Glucose:</label><br>
            <input type="text" id="PlasmaGlucose" name="PlasmaGlucose"><br><br>
            <label for="DiastolicBloodPressure">Diastolic Blood Pressure:</label><br>
            <input type="text" id="DiastolicBloodPressure" name="DiastolicBloodPressure"><br><br>
            <label for="TricepsThickness">Triceps Thickness:</label><br>
            <input type="text" id="TricepsThickness" name="TricepsThickness"><br><br>
            <label for="SerumInsulin">Serum Insulin:</label><br>
            <input type="text" id="SerumInsulin" name="SerumInsulin"><br><br>
            <label for="BMI">BMI:</label><br>
            <input type="text" id="BMI" name="BMI"><br><br>
            <label for="DiabetesPedigree">Diabetes Pedigree:</label><br>
            <input type="text" id="DiabetesPedigree" name="DiabetesPedigree"><br><br>
            <label for="Age">Age:</label><br>
            <input type="text" id="Age" name="Age"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>